<div id="left">
    <h1>LevelUp: Watch Edition</h1>
    <p>This is the demo page for the LevelUp Watch Edition sample app.</p>
</div>

<div id="right">

  <div class="watch">
    <div class="strap strap-top">
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
    </div>
    <div id="watch-wrapper">
      <div id="watch" class="case">
        <div id="button-right" class="power"></div>
        <div id="button-left" class="power"></div>
        <div id="button-bottom" class="power"></div>
        <div id="button-top" class="power"></div>
        <div id="watch-face" class="screen"></div>
      </div>
    </div>
    <div class="strap strap-bottom">
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
      <div class="mesh"></div>
    </div>
  </div>

</div>
